@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  font-family: $bodyFont;
  font-size: 14px;
  color: $text;
}

.container {
  width: 60%;
  margin: auto;
}

.nav-container {
  width: 60%;
  margin: auto;
}

.text-container {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1584px) {
  .container {
    width: 80%;
  }
  .nav-container {
    width: 80%;
  }
}

@media screen and (max-width: 1104px) {
  .container {
    width: 90%;
  }
  .nav-container {
    width: 100%;
    padding: 0 50px;
  }
}

@media screen and (max-width: 453px) {
  .container {
    width: 90%;
  }
  .nav-container {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 95%;
  }
  .text-container {
    width: 90%;
    margin: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingsFont;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 45px;
  line-height: 68px;
}

@media (max-width: 1103px) {
  h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 32px;
  line-height: 51px;
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  line-height: 41px;
}

@media screen and (max-width: 425px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 24px;
  line-height: 38px;
}

@media screen and (max-width: 425px) {
  h3 {
    font-size: 20px;
  }
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.free-text {
  color: $primary;
}

//*** back to top button ***//

#myBtn {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  transition: $transition;
  z-index: 50;
  &:hover {
    transform: scale(1.1);
  }
  img {
    width: 30px;
  }
}

@media screen and (max-width: 320px) {
  #myBtn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 50;
    &:hover {
      transform: scale(1.1);
    }
  }
}

//*** hide/show burger menu ***//

.show-nav {
  transform: translateY(0);
}

//*** hide/show dropdown questions ***//

.show-answer {
  display: none;
}
