@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;500;600;700;900&display=swap");

$primary: #dd71c6;
$secondary: #0083d3;
$tertiary: #ffd900;
$text: #333333;
$white: #fff;
$lightGray: #f9f9f9;
$bodyFont: "Montserrat", sans-serif;
$headingsFont: "Libre Baskerville", serif;
$transition: 0.3s linear;
$medWidth: 404px;
