@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
}

.container {
  width: 60%;
  margin: auto;
}

.nav-container {
  width: 60%;
  margin: auto;
}

.text-container {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1584px) {
  .container {
    width: 80%;
  }
  .nav-container {
    width: 80%;
  }
}
@media screen and (max-width: 1104px) {
  .container {
    width: 90%;
  }
  .nav-container {
    width: 100%;
    padding: 0 50px;
  }
}
@media screen and (max-width: 453px) {
  .container {
    width: 90%;
  }
  .nav-container {
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 95%;
  }
  .text-container {
    width: 90%;
    margin: auto;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 45px;
  line-height: 68px;
}

@media (max-width: 1103px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 30px;
  }
}
h2 {
  font-size: 32px;
  line-height: 51px;
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 24px;
  }
}
h3 {
  font-size: 24px;
  line-height: 41px;
}

@media screen and (max-width: 425px) {
  h3 {
    font-size: 18px;
  }
}
h4 {
  font-size: 24px;
  line-height: 38px;
}

@media screen and (max-width: 425px) {
  h3 {
    font-size: 20px;
  }
}
p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.free-text {
  color: #dd71c6;
}

#myBtn {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  transition: 0.3s linear;
  z-index: 50;
}
#myBtn:hover {
  transform: scale(1.1);
}
#myBtn img {
  width: 30px;
}

@media screen and (max-width: 320px) {
  #myBtn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 50;
  }
  #myBtn:hover {
    transform: scale(1.1);
  }
}
.show-nav {
  transform: translateY(0);
}

header {
  background-image: url(..//img//background//hero_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header nav a img {
  padding: 20px 0;
  transition: 0.3s linear;
}
header nav a img:hover {
  transform: scale(1.1);
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  margin-right: 36px;
}
header nav ul li a {
  color: #333333;
  transition: 0.3s linear;
}
header nav ul li a:hover {
  color: #dd71c6;
}
header nav .burger {
  width: 30px;
  height: 25px;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
header nav .burger span {
  width: 100%;
  height: 3px;
  background-color: #dd71c6;
  border-radius: 3px;
  display: block;
  pointer-events: none;
}
@media (max-width: 1103px) {
  header nav {
    position: relative;
  }
  header nav ul {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #f9f9f9;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    padding-top: 90px;
    border-bottom: 2px solid #dd71c6;
    transition: 0.3s linear;
    transform: translateY(-100%);
  }
  header nav ul li {
    margin-top: 15px;
  }
  header nav ul li a {
    font-size: 18px;
  }
  header nav .burger {
    display: flex;
    z-index: 10;
  }
}
header .hero {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
}
header .hero .left-header {
  flex: 0 0 40%;
}
header .hero .left-header p {
  padding: 30px 0;
}
header .hero .left-header .medium-spots {
  display: none;
}
header .hero .left-header button {
  padding: 10px 15px;
  background-color: #dd71c6;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
}
header .hero .left-header button:hover {
  background-color: #0083d3;
  transform: scale(1.1);
}
header .hero .right-header {
  flex: 0 0 55%;
  border-radius: 50px;
  padding: 50px 30px;
  height: 330px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
header .hero .right-header p {
  text-align: center;
  font-size: 18px;
}
header .hero .right-header .offer {
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
  gap: 35px;
}
header .hero .right-header .offer .offer-info p:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #0083d3;
}
header .hero .right-header .offer .offer-info p:nth-child(2) {
  font-size: 50px;
  font-weight: 500;
  line-height: 90px;
  margin-top: 25px;
}
header .hero .medium-info {
  display: none;
}
header .hero .medium-btn {
  display: none;
}

.banner {
  background-image: url(..//img//background//Banner&get\ to\ know\ us.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  margin-top: -10px;
}
.banner article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.banner article .banner-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
}
.banner article .banner-info img {
  display: block;
}
.banner article .banner-info p:nth-child(2) {
  font-size: 40px;
  font-weight: 500;
  line-height: 71px;
  color: #333333;
  margin: 20px 0;
}
.banner article .banner-info p span {
  color: #c4c4c4;
}
.banner article .banner-info p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #333333;
}
.banner button {
  padding: 10px 20px;
  background-color: #ffd900;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
  margin-top: 70px;
}
.banner button:hover {
  background-color: #0083d3;
  transform: scale(1.1);
}

.consultation {
  background-image: url(..//img//background//Who\ is\ it\ for.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.consultation article {
  display: flex;
  justify-content: space-between;
  padding: 136px 0;
}
.consultation article .consult-info {
  flex: 0 0 45%;
}
.consultation article .consult-info div:first-child {
  margin-bottom: 56px;
}
.consultation article .consult-info div h2 {
  color: #fff;
  margin-bottom: 15px;
  font-weight: 400;
}
.consultation article .consult-info div p {
  color: #fff;
}
.consultation article .consult-info button {
  padding: 10px 15px;
  background-color: #dd71c6;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
  margin-top: 37px;
}
.consultation article .consult-info button:hover {
  background-color: #0083d3;
  transform: scale(1.1);
}
.consultation article .consult-avatar {
  flex: 0 0 50%;
}

.how-we-can-help article {
  padding: 89px 0 0 0;
  text-align: center;
}
.how-we-can-help article h2 {
  margin-bottom: 20px;
}
.how-we-can-help article p {
  margin-bottom: 25px;
}
.how-we-can-help article .help-medium-img {
  display: none;
}
.how-we-can-help article button {
  padding: 10px 15px;
  background-color: #dd71c6;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
  margin-top: 34px;
  margin-bottom: 46px;
}
.how-we-can-help article button:hover {
  background-color: #0083d3;
  transform: scale(1.1);
}
.how-we-can-help article .help-big-img {
  max-width: 100%;
}

.information {
  background-image: url(..//img//background//Banner&information.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.information article {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information article h2 {
  margin-bottom: 64px;
  text-align: center;
}
.information article .info {
  display: flex;
  justify-content: space-between;
}
.information article .info .left-info {
  flex: 0 0 45%;
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 30px;
}
.information article .info .left-info h3 {
  color: #0083d3;
  border-bottom: 1px solid #0083d3;
  text-align: center;
  padding-bottom: 39px;
}
.information article .info .left-info ul {
  padding-bottom: 64px;
}
.information article .info .left-info ul li {
  list-style: inside;
  padding-top: 26px;
  font-size: 16px;
}
.information article .info .right-info {
  flex: 0 0 45%;
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 30px;
}
.information article .info .right-info h3 {
  color: #dd71c6;
  border-bottom: 1px solid #dd71c6;
  text-align: center;
  padding-bottom: 39px;
}
.information article .info .right-info ul {
  padding-bottom: 64px;
}
.information article .info .right-info ul li {
  list-style: inside;
  margin-top: 26px;
  font-size: 16px;
}
.information article button {
  padding: 10px 15px;
  background-color: #dd71c6;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
  margin-top: 88px;
}
.information article button:hover {
  background-color: #0083d3;
  transform: scale(1.1);
}

.faq {
  background-image: url(..//img//background//Banner&faq.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq article h2 {
  margin-bottom: 64px;
}
.faq article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 30px;
  padding: 18px 20px;
  margin-bottom: 30px;
}
.faq article div p {
  font-weight: 500;
}
.faq article div img {
  margin-right: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}
.faq article div img:hover {
  transform: scale(1.2);
}
.faq button {
  padding: 10px 15px;
  background-color: #dd71c6;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  border: none;
  transition: 0.3s linear;
  cursor: pointer;
  margin-top: 83px;
}
.faq button:hover {
  background-color: #0083d3;
  transform: scale(1.1);
}

footer {
  background-color: #f9f9f9;
  padding: 105px 0 45px 0;
}
footer .footer {
  display: flex;
  justify-content: space-between;
}
footer .footer .left-footer {
  flex: 0 0 40%;
}
footer .footer .left-footer a {
  margin-bottom: 33px;
}
footer .footer .left-footer a img {
  margin: 20px 0;
  transition: 0.3s linear;
}
footer .footer .left-footer a img:hover {
  transform: scale(1.1);
}
footer .footer .left-footer p {
  font-size: 16px;
  margin: 25px 0;
  line-height: 26px;
}
footer .footer .left-footer .contact-footer {
  display: flex;
  align-items: center;
}
footer .footer .left-footer .contact-footer img {
  margin-right: 10px;
}
footer .footer .left-footer .contact-footer span {
  font-weight: 700;
}
footer .footer .right-footer {
  flex: 0 0 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .right-footer .about-footer h4 {
  margin-bottom: 45px;
}
footer .footer .right-footer .about-footer ul li {
  margin-top: 20px;
}
footer .footer .right-footer .about-footer ul li a {
  font-size: 16px;
  color: #333333;
  transition: 0.3s linear;
}
footer .footer .right-footer .about-footer ul li a:hover {
  color: #dd71c6;
}
footer .footer .right-footer .links-footer h4 {
  margin-bottom: 45px;
}
footer .footer .right-footer .links-footer ul li {
  margin-top: 20px;
}
footer .footer .right-footer .links-footer ul li a {
  font-size: 16px;
  color: #333333;
  transition: 0.3s linear;
}
footer .footer .right-footer .links-footer ul li a:hover {
  color: #dd71c6;
}
footer .bottom-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
footer .bottom-bar .social-icons a img {
  margin-right: 21px;
  transition: 0.3s linear;
}
footer .bottom-bar .social-icons a img:hover {
  transform: scale(1.2);
}
footer .bottom-bar .bb-info p {
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 1087px) {
  header {
    background-position: 77%;
  }
  header nav {
    background-color: #fff;
  }
  header .hero {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
  header .hero .left-header h1 {
    max-width: 432px;
  }
  header .hero .left-header p:nth-child(2) {
    display: none;
  }
  header .hero .left-header p:nth-child(3) {
    text-align: center;
  }
  header .hero .left-header .medium-spots {
    display: block;
    text-align: center;
  }
  header .hero .left-header button {
    display: none;
  }
  header .hero .right-header {
    align-self: center;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  }
  header .hero .right-header p {
    font-size: 16px;
  }
  header .hero .right-header .offer .offer-info p:nth-child(1) {
    font-size: 18px;
  }
  header .hero .right-header .offer .offer-info p:nth-child(2) {
    font-size: 50px;
  }
  header .hero .medium-info {
    display: block;
    margin: 50px 0;
    max-width: 425px;
  }
  header .hero .medium-btn {
    display: block;
    align-self: center;
  }
  header .hero button {
    padding: 10px 15px;
    background-color: #dd71c6;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    border: none;
    transition: 0.3s linear;
    cursor: pointer;
  }
  header .hero button:hover {
    background-color: #0083d3;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 1087px) {
  .banner article .banner-info {
    padding: 15px 10px;
  }
  .banner article .banner-info p:nth-child(2) {
    font-size: 22px;
    line-height: 15px;
  }
  .banner article .banner-info p:nth-child(3) {
    font-size: 16px;
  }
}
@media screen and (max-width: 1087px) {
  .consultation article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .consultation article .consult-info {
    display: flex;
    flex-direction: column;
  }
  .consultation article .consult-info button {
    margin: 80px;
    align-self: center;
  }
  .consultation article .consult-avatar img {
    width: 100%;
  }
}
@media screen and (max-width: 1087px) {
  .how-we-can-help article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .how-we-can-help article h2 {
    text-align: left;
    margin-bottom: 50px;
  }
  .how-we-can-help article p {
    text-align: left;
  }
  .how-we-can-help article .help-medium-img {
    display: block;
    max-width: 100%;
    margin: 60px 0;
  }
  .how-we-can-help article .help-big-img {
    display: none;
  }
}
@media screen and (max-width: 1087px) {
  .information article h2 {
    text-align: left;
  }
  .information article .info {
    display: flex;
    flex-direction: column;
  }
  .information article .info .left-info {
    padding: 45px 80px;
    margin-bottom: 44px;
  }
  .information article .info .right-info {
    padding: 45px 80px;
  }
}
@media screen and (max-width: 1087px) {
  .faq article div {
    padding: 10px 15px;
  }
  .faq article div img {
    margin-right: 0;
  }
}
@media screen and (max-width: 1087px) {
  footer {
    padding: 40px 0;
  }
  footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  footer .footer .right-footer {
    gap: 80px;
  }
}
@media screen and (max-width: 630px) {
  header {
    background-position: 76%;
  }
  header nav {
    background-color: transparent;
  }
  header .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .hero .left-header {
    text-align: center;
  }
  header .hero .right-header .offer {
    padding: 20px 10px;
    gap: 20px;
  }
  header .hero .right-header .offer .offer-info p:nth-child(1) {
    font-size: 12px;
  }
  header .hero .right-header .offer .offer-info p:nth-child(2) {
    font-size: 40px;
  }
}
@media screen and (max-width: 630px) {
  .banner article {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner article .banner-info {
    padding: 20px 10px;
  }
  .banner article .banner-info p:nth-child(2) {
    font-size: 22px;
    line-height: 15px;
  }
  .banner article .banner-info p:nth-child(3) {
    font-size: 16px;
  }
}
@media screen and (max-width: 639px) {
  footer .bottom-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 425px) {
  header {
    background-position: 74%;
  }
  header .hero .right-header .offer {
    padding: 10px 5px;
    gap: 8px;
    height: 100px;
  }
  header .hero .right-header .offer .offer-info p:nth-child(1) {
    font-size: 10px;
  }
  header .hero .right-header .offer .offer-info p:nth-child(2) {
    font-size: 30px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 425px) {
  .information article h2 {
    text-align: left;
  }
  .information article .info {
    display: flex;
    flex-direction: column;
  }
  .information article .info .left-info {
    padding: 20px 40px;
    margin-bottom: 44px;
  }
  .information article .info .right-info {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 425px) {
  footer .footer .right-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  footer .bottom-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  header {
    background-position: 73%;
  }
  header .hero .right-header {
    border-radius: 20px;
    padding: 15px 10px;
  }
  header .hero .right-header .offer {
    gap: 8px;
    height: 100px;
  }
  header .hero .right-header .offer .offer-info p:nth-child(1) {
    font-size: 8px;
  }
  header .hero .right-header .offer .offer-info p:nth-child(2) {
    font-size: 25px;
    margin-top: 5px;
  }
}/*# sourceMappingURL=style.css.map */